dist: trusty
sudo: false
addons:
  apt:
    packages:
      - texinfo
env:
  - EMACS_VERSION=24.4
  - EMACS_VERSION=24.5
  - EMACS_VERSION=25.1
  - EMACS_VERSION=25.2
  - EMACS_VERSION=25.3
  - EMACS_VERSION=26.1
  - EMACS_VERSION=git-snapshot

matrix:
  allow_failures:
    - env: EMACS_VERSION=git-snapshot

install:
  - curl -fsSkL https://raw.github.com/rejeep/evm/master/go | bash
  - export PATH="$HOME/.evm/bin:$PATH"
  - evm config path /tmp
  - evm install emacs-$EMACS_VERSION-travis
  - export PATH="/tmp/emacs-$EMACS_VERSION-travis/bin:$PATH"

script:
  - make travis
